*{
  padding: 0;
  margin: 0;
}
html,body{
  font-size: 14px;
}
.header{
  position: relative;
  width: 100%;
  height: 45px;
  background-color: rgba(97, 97, 97,0.2);
  opacity: 0.5;
}
.header>.logo>a{
  color: hsl(0, 0%, 0%);
  line-height: 45px;
  text-decoration: none;
  display:block;
}
.header>.logo{
  width:90px;
  margin-left: 60px;
}
.header>.logo>a:hover{
  color: #ffffff;
}
.header>.goin{
  position: absolute;
  float: right;
  top: 0;
  line-height: 45px;
  right: 60px;
}
.header>.goin>span{
  margin-left: 10px;
}
.header>.goin>span:hover{
  cursor: pointer;
  color: #ffffff;
}
.content{
  width: 100%;
  height: 460px;
  /* background-color: burlywood; */
}
.last{
  width: 100%;
  height: 60px;
  /* background-color: cornflowerblue; */
  user-select: none;
}
.content-in{
  margin: 0 auto;
  /* background-color: darkgoldenrod; */
  width: 1200px;
  height: 100%;
}
.content-in>.box-left{
  width: 800px;
  height: 100%;
  float: left;
  /* background-color: aqua; */
}
.box-left .list{
  width: 100%;
  overflow: auto;
  height: 420px;
}
.list::-webkit-scrollbar{/*滚动条整体样式*/
  width: 10px;
  height: 4px;
  /* background-color:rgb(255, 86, 218); */
  
}
.list::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
  border-radius:5px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1); */
  background-color: rgba(0, 0, 0,0.1);
}
.list.list::-webkit-scrollbar-track{/*滚动条里面轨道*/
  /* -webkit-box-shadow:  inset 0 0 5px rgba(0,0,0,0.2); */
  /* box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
  border-radius: 5px;
  /* background-color: indigo;; */
}
.list>ul>li{ 
  width: 100%;
  height: 50px;
  list-style: none;
  /* background-color: rgb(255, 86, 218); */
  /* opacity: 0.5; */
  border-bottom: 1px solid rgba(255, 255, 255,0.5);
  box-sizing: border-box;
}
.list>ul>li>div{
  float: left;
  line-height: 50px;
  color: rgba(255, 255, 255,0.5);
}
.music .check{
  text-align: center;
  width:50px;
  height: 100%;
  /* background-color: khaki; */
  
}
.music .check i{
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  display: inline-block;
  opacity: 0.5;
}
.music .number{
  width: 20px;
  height: 100%;
  /* background-color: lawngreen; */
}
.music .number2{
  color: transparent !important;
  background: url(./images/wave.gif) no-repeat 0 center;
}
.list>ul>li>.song{
  width: 50%;
  height: 100%;
  /* background-color: lightpink; */
}
.list_menu{
  margin-top: 5px;
  float: right;
  margin-right: 20px;
  display: none;
}
.list_menu a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("./images/icon_list_menu.png") no-repeat 0 0;
  opacity: 0.5;
}
.list_menu a:hover{
  opacity: 1;
}
.list_menu a:nth-child(1){
  background-position: -120px 0;
}
.list_menu a:nth-child(2){
  background-position: -120px -80px;
}
.list_menu a:nth-child(3){
  background-position: -120px -120px;
}
.list_menu a:nth-child(4){
  background-position: -120px -40px;
}

.list_menu .list_menu_play2{
  background-position: -80px -200px !important;
}
.music>.checked i{
  background: url(./images/icon_sprite.png) no-repeat -60px -80px;
  opacity: 1;
}
.music{
  user-select: none;
}
.list .list_time a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("./images/icon_list_menu.png") no-repeat -120px -160px;
  float: left;
  margin-top: 5px;
  display: none;
  opacity: 0.5;
}
.list .list_time a:hover{
  opacity: 1 !important;
}
.list>ul>li>.list_singer{
  width: 20%;
  height: 100%;
  /* background-color: lightseagreen; */
}
.content-in>.box-right{
  width: 400px;
  height: 100%;
  float: right;
  /* background-color: rgb(255, 86, 218); */
  user-select: none;
}
.box-right .song-info{
  text-align: center;
  color: rgba(255, 255, 255,0.5);
  line-height: 30px;
}
.song-info .song-infor-pic{
  background: url(./images/album_cover_player.png) no-repeat 0 0;
  width: 201px;
  height: 180px;
  display: inline-block;
  text-align: left;
}
.song-infor-pic img{
  width: 180px;
  height: 180px;
}
.song-info div a{
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
.song-info div a:hover{
  opacity: 1;
}
.box-right .song-music li{
  list-style: none;
  line-height: 30px;
  color: rgba(255, 255, 255,0.5);
}
.box-right .song-music{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.box-right .song-music .cur{
  color: #31c27c;
}
.content-in>.box-left>.btn{
  display:inline-block;
  width: 100%;
  height: 40px;
  /* background-color:rgb(255, 86, 218); */
}
.box-left>.btn>button{
  border-radius: 5px;
  width: 122px;
  height: 100%;
  border: 0;
  line-height: 40px;
  outline: none;
  font-size:14px;
  /* background-color: rgb(255, 86, 218);; */
  text-align: center;
  border: 1px solid #ffffff;
  color: #fff;
  opacity: 0.5;
  background-color: rgba(0,0,0,0.1);
  
}
.box-left>.btn>button:hover{
  cursor: pointer;
  opacity: 1;
}
.box-left>.btn>button>i{
  margin-right: 10px;
}
.last-in{
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  /* background-color: darkolivegreen; */
}
.last-in a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background:url(./images/player.png) no-repeat 0 0;
  margin-right: 20px;
}
.last-in .music-pre{
  width: 19px;
  height: 20px;
  background-position:0 -30px;
}
.last-in .music-play{
  width: 21px;
  height: 29px;
  background-position:0 0;
  vertical-align: -5px;
}
.last-in .music-play2{
  background-position:-30px 0;
}
.last-in .music-next{
  width: 19px;
  height: 20px;
  background-position:0 -52px;
}
.last-in .message{
  display: inline-block;
  height: 40px;
  width: 660px;
  margin-top: 6px;
}
.message .message-upper{
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.message-upper .message-name{
  opacity: 0.5;
  float: left;
}
.message-upper .message-name:hover{
  opacity: 1;
}
.message-upper .message-time{
  float: right;
}
.last-in .music-mode{
  width: 26px;
  height: 25px;
  background-position:0 -205px;
}
.last-in .music-mode2{
  background-position:0 -256px;
}
.last-in .music-mode3{
  width: 26px;
  height: 19px;
  background-position:0 -74px;
}
.last-in .music-mode4{
  width: 26px;
  height: 25px;
  background-position:0 -232px;
}
.last-in .music-like{
  width: 24px;
  height: 21px;
  background-position:0 -96px;
}
.last-in .music-like2{
  background-position:-30px -96px;
}
.last-in .music-down{
  width: 22px;
  height: 21px;
  background-position:0 -120px;
}
.last-in .music-cumment{
  width: 24px;
  height: 24px;
  background-position:0 -400px;
}
.last-in .music-only{
  width: 74px;
  height: 27px;
  background-position:0 -281px;
}
.last-in .music-only2{
  background-position:0 -310px;
}
.message .message-lower{
  width: 100%;
  height: 4px;
  background: rgba(255,255,255,0.5);
  margin-top: 5px;
  position: relative;
}
.message-lower .message-line{
  width: 0px;
  height: 100%;
  background: #fff;
}
.message-lower .message-dot{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 0px;
  cursor: pointer;
}
.last-in .music-vieo{
  display: inline-block;
  height: 40px;
  width: 100px;
  position: relative;
}
.music-vieo .music-volume{
  width: 26px;
  height: 21px;
  background-position:0 -144px;
  position: absolute;
  left: 0;
  top: 16px;
}
.music-vieo .music-volume2{
  background-position: 0px -182px;
}
.music-vieo .volume-lower{
  width: 70px;
  height: 4px;
  background: rgba(255,255,255,0.5);
  /* margin-top: 5px; */
  position: absolute;
  right: 0;
  top: 23px;
}
.music-vieo .volume-line{
  width: 70px;
  height: 100%;
  background-color: #fff;
}
.music-vieo .volume-dot{
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -9px;
  left: 70px;
}
.bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./images/lnj.jpg) no-repeat 0 0;
  background-size: cover;
  z-index: -3;
  filter: blur(100px);
}
.bg-mask{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}